.card_container {
  display: flex;
  padding: 17px 22px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 192px 180px 30px 30px;
  gap: 25px;
  text-align: center;
  width: 243px;
}

.card_container:hover {
  box-shadow: 0 0 24px #bdbdbd;
}

.item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pizza_img {
  height: 9rem;
}

.itemContainer > h3 {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

.description {
  display: flex;
  height: 43px;
  color: #4f4f4f;
  font-size: 17px;
  font-weight: 300;
}

.price {
  color: #05a84b;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.size {
  padding: 0.5625rem 4rem;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1rem;
}

.btn_add {
  padding: 10px !important;
  border-radius: 15px !important;
  background-color: #ec0000 !important;
  color: #fff !important;
  font-size: 1rem;
  font-weight: bolder;
}

.btn_add:hover {
  background-color: #00240f !important;
}

@media (max-width: 480px) {
  .item_container {
    gap: 10px;
  }

  .description {
    height: 3rem;
  }

  .price {
    font-size: 1.5rem;
  }

  .btn_add {
    margin-top: 10px;
  }
}
